.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5rem;
}

.search__search-bar {
  width: 500px;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.search__select-menu {
  width: 200px;
}
