.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.search__search-bar {
  width: 500px;
  padding: 2rem;
  padding-left: 7rem;
  margin-bottom: 4rem;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-appearance: none;
}

.search__search-bar::placeholder {
  font-size: 1.6rem;
  font-family: inherit;
}

.search__icon {
  position: absolute;
  left: 3rem;
  height: 25px;
  width: 25px;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 760px) {
  .search__icon {
    top: 7%;
  }
}

.search__select-menu {
  width: 200px;
  margin-bottom: 4rem;
}
