.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-bottom: 5rem;
}

.search__search-bar {
  width: 500px;
  padding: 20px;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media only screen and (max-width: 375px) {
  .search__search-bar {
    margin-top: 1rem;
    border: 1px solid black;
  }
}

.search__search-bar::placeholder {
  font-family: inherit;
}

.search__select-menu {
  width: 200px;
}
